@{
    ViewBag.Title = "Acerca de";
}

<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h3>@ViewBag.Title</h3>
                <p>Software implementado bajo el marco de desarrollo de la tesis de Maestría: Representación de modelo semántico en el dominio jurídico aplicado al derecho informático en Colombia</p>
                <p>Universidad Distrital Francisco José de Caldas - Maestría en Ciencias de la Información y las Comunicaciones</p>
                <p>Desarrollado por: Juan Fernando Rojas Moreno</p>
                <p>Director: Julio Barón</p>
                <p>Contacto: jufrojasm@correo.udistrital.edu.co</p>
            </div>
            <div class="col-lg-5 mr-auto">
                <img class="img-fluid" src="~/Images/icono-equipo.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>
