@{
    ViewBag.Title = "Pägina de Inicio";
}

<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1>Administración de Entidades</h1>
            <h3>Conceptos jurídicos de Colombia</h3>
            <hr class="intro-divider">
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Cargue archivos en formato .kaf</h2>
                <p class="lead">Los archivos en formato .kaf se procesarán y permitirán visualizar el listado de entidades extraídas de un documento jurídico.</p>
            </div>
            <div class="col-lg-5 mr-auto">
                <img class="img-fluid" src="/Images/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>

<section class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 mr-auto order-lg-2">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Edite, clasifique o elimine Entidades</h2>
                <p class="lead">De acuerdo al criterio jurídico, puede clasificar, editar o eliminar las entidades cargadas desde un archivo .kaf</p>
            </div>
            <div class="col-lg-5 ml-auto order-lg-1">
                <img class="img-fluid" src="/Images/intro-bg.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>
<!-- /.content-section-b -->

<aside class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto">
                <h2>Ejecute consultas SPARQL sobre la ontología legal y obtenga resultados con más precisión semántica</h2>
            </div>
        </div>
    </div>
    <!-- /.container -->

</aside>
<!-- /.banner -->