<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7f921e4f-bd6c-4c80-a425-ce752bd20b42/resourcegroups/juanrojas2018/providers/Microsoft.Web/sites/LegalNerWeb</ResourceId>
    <ResourceGroup>juanrojas2018</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://legalnerweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>legalnerweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LegalNerWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LegalNerWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=juancho-cloud.database.windows.net;Initial Catalog=Legal.Ner;User ID=juan.rojas.sa;Password=Jfr2018.1." />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JUANCHO;Initial Catalog=Legal.Ner;User ID=sa;Password=196769" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=JUANCHO;Database=Legal.Ner;User Id=sa;Password=196769;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=juancho-cloud.database.windows.net;Initial Catalog=Legal.Ner;User ID=juan.rojas.sa;Password=Jfr2018.1.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>